<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Crear Factura</title>
    <link rel="stylesheet" th:href="@{/css/facturas.css}">
</head>

<body>
<a th:href="@{/facturas/lista}" class="btn-volver">⬅ Volver</a>
    <h1>Crear Nueva Factura</h1>

    <form th:action="@{/facturas/crear}" th:object="${facturaCreateDTO}" method="post">

        <label>Cliente:</label>
        <select th:field="*{clienteId}" required>
            <option value="" disabled selected>Seleccione un cliente</option>
            <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.email}">
            </option>
        </select>

        <br><br>

        <h3>Productos</h3>

        <div th:each="producto, iterStat : ${productos}">

            <input type="hidden" th:field="*{productos[__${iterStat.index}__].productoId}" th:value="${producto.id}" />

            <span th:text="${producto.nombre}"></span>

            <span style="color: gray;">
                (Stock: <span th:text="${producto.stock}"></span>)
            </span>

            <label>Cantidad:</label>
            <input type="number" th:field="*{productos[__${iterStat.index}__].cantidad}" min="0"
                th:attr="max=${producto.stock}" value="0" />

            <br><br>
        </div>

        <button type="submit">Crear Factura</button>

    </form>

    <br>
    <a th:href="@{/facturas}">Volver a la lista</a>

</body>

</html>