<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/css/clientes.css}">
</head>

<body>

    <!-- Botón volver -->
    <a th:href="@{/}" class="btn-volver">⬅ Volver</a>

    <h1>Lista de Clientes</h1>

    <a th:href="@{/clientes/nuevo}">Registrar nuevo cliente</a>

    <table border="1" cellpadding="8" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.telefono}"></td>
                <td th:text="${cliente.direccion}"></td>

                <td>
                    <a th:href="@{|/clientes/editar/${cliente.id}|}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>