
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #ffffff;
    color: #2d2d2d;
    padding: 30px;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
    border-left: 6px solid #6146ff;
}

.title {
    font-size: 2.6rem;
    font-weight: 900;
    color: #6146ff;
}

.subtitle {
    margin-top: 8px;
    font-size: 1.1rem;
    color: #6c6c6c;
}


.menu {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.card {
    background: #f9f9ff;
    border: 1px solid #e2e2ff;
    padding: 30px 25px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    position: relative;
}

.card:hover {
    border-color: #8c6bff;
    box-shadow: 0 10px 20px rgba(97, 70, 255, 0.12);
    transform: translateY(-4px);
}

.card::before {
    content: "";
    width: 45px;
    height: 45px;
    background: #6146ff;
    opacity: .15;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    right: 18px;
}

.card h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #6146ff;
    margin-bottom: 12px;
}

.card p {
    font-size: .95rem;
    color: #4b4b4b;
    line-height: 1.4;
}

.btn {
    margin-top: 15px;
    display: inline-block;
    padding: 12px 18px;
    background: #ffd86b;
    color: #2d2d2d;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    transition: .3s;
}

.btn:hover {
    background: #e6c15e;
}